h1 {
  color: black;
  text-align: center;
}

input[type=text],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}



.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

.form-control {
  width: 100% ! important;
}

.table {
  margin: auto;
  width: 30% !important;
}

table th {
  text-align: center;
}

td:hover {
  background: #16A085;
  color: white;
  opacity: 1;

}

td:hover button {
  visibility: visible;
  color: white;
}

td button {
  visibility: hidden;
  float: right !important;
}

.update {
  display: none;
}
